html,
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: flex;
}

.sidebar {
    flex: 1.2;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.logo-area {
    position: relative;
    width: 100%;
    top: 20vh;
    height: clamp(50px, 20%, 120px);
    padding: max(10px, 2vh) 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 100%;
}

.logo-text {
    font-family: 'Amatic SC', cursive;
    font-size: calc(6vh + 2vw);
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.footer {
    position: relative;
    color: rgb(255, 255, 255);
    top: calc(100% - 30px);
    text-align: center;
    font-size: max(calc(1vh + 0.3vw), 0.75rem);
}

.footer a {
    color: rgb(255, 255, 255);
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top,
.bottom {
    background-color: rgb(250, 250, 250);
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 15% 3% 5%;
    font-size: max(calc(1.5vh + 0.5vw), 0.9rem);
    font-weight: 700;
    box-sizing: border-box;
}

.middle {
    position: relative;
    padding: 0 15% 5% 5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.middle p {
    font-size: max(calc(1.5vh + 0.5vw), 0.9rem);
    font-weight: 700;
}

.middle input {
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(235, 235, 240);
    border-radius: 3px;
    height: clamp(1rem, calc(2vh + 1vw), 2rem);
    font-size: max(calc(1.2vh + 0.3vw), 0.75rem);
    padding: 0 10px;
}

.middle input:focus {
    outline: rgb(105, 135, 230);
    border-color: rgb(105, 135, 230);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

form,
.form-item {
    display: flex;
    flex-direction: column;
}

form {
    gap: 2vh;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}

.form-item {
    width: min(20vw, 30rem);
    gap: 3px;
}

label {
    color: rgb(80, 80, 80);
    font-weight: 700;
    text-transform: uppercase;
    font-size: max(calc(0.75vh + 0.3vw), 0.6rem);
    letter-spacing: 0.125rem;
}

.bottom {
    flex: 1;
    padding: calc(3.5% + 10px) 0 0 5%;
}

.bottom button {
    padding: max(10px, 1.25vh) max(20px, calc(2vw + 1.5vh));
    border: none;
    border-radius: 5px;
    background-color: rgb(90, 110, 70);
    color: rgb(255, 255, 255);
    font-weight: 700;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: max(calc(1.5vh + 0.25vw), 0.75rem);
    margin-bottom: 2%;
}

.bottom p {
    font-size: max(calc(1.5vh + 0.25vw), 0.75rem);
}

.bottom a {
    text-decoration: none;
    color: rgb(90, 110, 70);
    font-weight: 700;
}